.form{
  display: flex;
  justify-content: center;

  &__input{
    width: 394px;
    background-color: #25273c;
    outline: none;
    color: #7c7e93;
    margin-top: 40px;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding-left: 40px;
    font-family: 'Poppins', sans-serif;
  }
}