*{
  padding: 0;
  margin: 0;
}

.app{
  background-image: url(https://user-images.githubusercontent.com/30663305/140393201-dbd9e902-5899-47f9-80c9-dabc5b45bfa9.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  // height: 90vh;
}