@import '../../variables.scss';

.sort{
  width: 470px;
  height: 40px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $darkGrey;
  color: $grey;
  border-top: 1px solid $grey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 13px;

  -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.7);

  &__info, &__search{
    width: 110px;
  }

  &__search{
    border: none;
    background-color: $darkGrey;
    color: $grey;
  }

  &__btn{
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer;
    color: $grey;
    font-family: 'Poppins', sans-serif;
    &-active{
      color: $blue;
      font-weight: bold;
    }
    &:hover{
      color: $blue;
    }
  }

  &__by-type{
    display: flex;
    justify-content: space-between;
    width: 160px;
  }

  input{
    border-bottom-right-radius: 5px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
  }
}